<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

     <h1>Hello, My name's V . I'm gukboy ;=]</h1>
     <P>Database: </P>
     <form action="/insert" method="post">
       <input type="text" name="name" placeholder="name">
       <input type="text" name="email" placeholder="mail">
       <input type="text" name="password" placeholder="pass">
       <button type="submit">Ok</button>
     </form>
  </body>
</html>